body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
}

.desktop-area {
	flex: 1;
}

#irc-dialog {
	align-content: flex-start;

}

.start-bar {
	border-top: 1px solid #ececec;
	background: #ececec;
	align-self: flex-end;
	height: 32px;
	width: 100%;
}

#user-list {
	font-family: monospace;
	list-style-type: none;
}

#chat-area {
	padding: 0;
	margin: 0;
	background-color: white;
}
