body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #282828;
	font-family: monospace;
}

.desktop-area a {
	font-weight: bold;
	color: #9c9c9c;
}

a:hover {
	color: white;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
}

.desktop-area {
	flex: 1;
}

#irc-dialog {
	align-content: flex-start;

}

.start-bar {
	border-top: 1px solid #ececec;
	background: #ececec;
	align-self: flex-start;
	padding:10px;
	height: 20px;
	width: 100%;
	position:absolute;
	bottom:0px;
}
.start-bar button {
	margin-left:10px;
}
#score-area {
	margin-left:15px;
}
#score-area span, #score-area button {
	margin-right:15px;
}
#chat-area {
	padding: 0;
	margin: 0;
	overflow: auto;
	flex: 1;
}

#user-area {
	border: 2px solid #282828;
	overflow: auto;
}

#user-list {
	padding: 5px;
	border-top: 2px solid #282828;
	list-style-type: none;
}

#user-list .controls {
	float: right;
}

.launcher {
	text-align: center;
	width: 132px;
	color: white;
	margin: 10px;
	display: inline-block;
}

.launcher:hover {
	background-color: #5c5c5c;
}
